<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>xai_review</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>


<body>
<h1> XAI를 활용한 리뷰 분석 </h1>

<br>

<section>
    <div class="map_wrap">
        <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div>
                    <form action="/post" method="post" onsubmit="searchPlaces(); return false;">
                        키워드 : <input type="text" value="서울카페" id="keyword" size="15">
                        <button type="submit">검색하기</button>
                    </form>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=06326c560d6330f422670fc710a68cc9&libraries=services"></script>
    <script src = "static/js/map.js"> </script>

</section>


<aside>
    <form action=" " method="POST">
        <button id="btn1" type="submit" class="btn btn-primary">리뷰분석결과 확인하기</button>
    </form>

</aside>

</body>
</html>