<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>xai_review</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>

<body>
<h1 id="title"> XAI로 리뷰분석한 가게들</h1>

<br>
  <form action=" " method="POST">
        <button id="btn2" onclick='window.location.href=/result' type="submit" class="btn btn-primary">동작 오후홍콩</button>
  </form>

<br>
  <form action=" " method="POST">
        <button id="btn3" onclick='window.location.href=/result2' type="submit" class="btn btn-primary">강남 알베르</button>
  </form>

<br>
  <form action=" " method="POST">
        <button id="btn4" onclick='window.location.href=/result3' type="submit" class="btn btn-primary">동작 카페퍼블리코</button>
  </form>
